:root{
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
    --text-primary: var(#b6b6b6);  
    --text-secondary:var(#ececec)
}

h1{
    font-size: 4rem;
    text-align: center;
}

p{
    font-size: 1.5rem;
    margin-top: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 8vh;
    justify-content: center;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    background: #000a11;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-track{
    background-color: #c62368;
}

body::-webkit-scrollbar-thumb{
    background-color: #ffc0cb;
}

main{
    margin-left: 5rem;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    padding-top: 0px;
} 

img{
    width: 100%;
    height: auto;
    max-width: 50vw;
    min-width: 30vw;
    text-align: center;
}

img:hover{
    transition: 1.20s;
    -webkit-transition: 1.20s;
    -moz-transition: 1.20s;
    -ms-transition: 1.20s;
    -o-transition: 1.20s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}


a:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:active{
    color: rgba(209, 124, 167, 0.815);
  }

.box{
    -webkit-transition:  -webkit-transform .2s;
    -moz-transition: -moz-transform .2s;
    -o-transition: -o-transform .2s;
    -ms-transition: -ms-transform .2s; 
    transition: transform .2s; 
}
.box:hover{
   -webkit-transform:scale(2);
   -moz-transform:scale(2);
   -o-transform:scale(2);
   transform:scale(2);
}

.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer-first {
    background-image: url('./layers/layer1.svg');
}

.layer-second {
    background-image: url('./layers/layer2.svg');
}

.layer-third {
    background-image: url('./layers/layer3.svg');
}

.layer-fourth {
    background-image: url('./layers/layer4.svg');
}

.animation-moving{
    position: relative;
    animation-name: try-and-catch-me;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes try-and-catch-me{
    0%   {left:-10vw; top:-8vh;}
    25%  {left:5vw; top:-8vh;}
    50%  {left:5vw; top:10vh;}
    75%  {left:-10vw; top:10vh;}
    100% {left:-10vw; top:-8vh;}
}