:root{
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

h1{
    font-size: 4rem;
    text-align: center;
}

p{
    font-size: 1.5rem;
    margin-top: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 8vh;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    background: #000a11;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background-color: #c62368;
}

body::-webkit-scrollbar-thumb{
    background-color: #ffc0cb;
}

main{
    margin-left: 5rem;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    padding-top: 0px;
} 

img{
    width: 100%;
    height: auto;
    max-width: 50vw;
    min-width: 30vw;
    text-align: center;
}

img:hover{
    transition: 1.20s;
    -webkit-transition: 1.20s;
    -moz-transition: 1.20s;
    -ms-transition: 1.20s;
    -o-transition: 1.20s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

a:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:active{
    color: rgba(209, 124, 167, 0.815);
  }

.box{
    -webkit-transition:  -webkit-transform .2s;
    -moz-transition: -moz-transform .2s;
    -o-transition: -o-transform .2s;
    -ms-transition: -ms-transform .2s; 
    transition: transform .2s; 
}
.box:hover{
   -webkit-transform:scale(2);
   -moz-transform:scale(2);
   -o-transform:scale(2);
   transform:scale(2);
}

.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer-first {
    background-image: url('./layers/layer1.svg');
}

.layer-second {
    background-image: url('./layers/layer2.svg');
}

.layer-third {
    background-image: url('./layers/layer3.svg');
}

.layer-fourth {
    background-image: url('./layers/layer4.svg');
}

.layer-fifth {
    background-image: url('./layers/layer5.svg');
}

.layer-sixth {
    background-image: url('./layers/layer6.svg');
}

.animation-moving{
    position: relative;
    animation-name: try-and-catch-me;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes try-and-catch-me{
    0%   {left:-10vw; top:-8vh;}
    25%  {left:5vw; top:-8vh;}
    50%  {left:5vw; top:10vh;}
    75%  {left:-10vw; top:10vh;}
    100% {left:-10vw; top:-8vh;}
}

.navbar{
    width: 5rem;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: var(--bg-primary);
    transition: width 300ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}

.nav-item:last-child{
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: var(--text-primary);
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text{
    display: none;
}

.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover{
    width: 16rem;
}

.navbar:hover .link-text{
    display: block;
}

.fa-primary{
    color: black;
}

.fa-secondary{
    color: #f37e91;
}

.fa-primary, .fa-secondary{
    transition: var(--transition-speed);
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    
}

.logo-text{
    margin-left: 2vh;
}

.logo svg{
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg{
    transform: rotate(-180deg);
}


.days, .time{
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: baseline;
    text-align-last: center;
}

th, td{
    padding: 0.5vh; 
    width: 5vh;
    text-align: center;
    text-align-last: center;
}

.tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px #23232e;
}
  
.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: #23232e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.schedule {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    overflow-x:auto;
    border-spacing: 0;
    width: 100%;
  }

.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #23232e transparent;
}
  
.tooltip:hover .tooltiptext{
    visibility: visible;
}

.projects{   
    background-color: #c62368;
}

.laboratory{
    background-color: #f37e91;
}

.exercises{
    background-color: #ffc0cb;
}

.lectures{
    background-color: #ff076e;
}